In [1]:
import numpy as np
import pandas as pd

## Carga de Datos
El cliente ha proporcionado 5 archivos, 1 de ellos tiene la data ya limpiada por él, y otros 3 son archivos csv.
De estos archivos csv, el cliente no especificó de cual tomar la data, por lo que se procederá primero a determinar cual deberia utilizarse.

In [4]:
# Este dataset tiene menos columnas que los otros 2 y aparenta ser el primero en haber sido creado.
pd.read_csv("./data/inmueblex data.csv")

,zone,promoter,total_m2,n_rooms,n_bathrooms,n_toilets,livingroom_m2,livingroom_p,kitchen_m2,kitchen_p,...,bdroom3_m2,bdroom3_p,bdroom4_m2,bdroom4_p,entrance_m2,entrance_p,corridor_m2,corridor_p,laundry_m2,laundry_p
0,Alicante,Thalassa - Metrovacesa,101.80,4,2,0,21.10,28.27,14.90,19.97,...,9.40,12.60,6.90,9.25,4.20,11.55,13.30,36.58,2.3,5.43
1,Aviles,Aralis II - Arqura Homes,69.15,2,2,0,17.27,23.14,9.06,12.14,...,NaN,NaN,NaN,NaN,2.97,8.17,4.37,12.02,NaN,NaN
2,Aviles,Aralis II - Arqura Homes,110.63,4,2,1,23.11,30.97,13.02,17.45,...,10.04,13.45,8.01,10.73,8.86,24.37,10.29,28.30,NaN,NaN
3,Barcelona,Themos Riera - Culmia,61.79,2,2,0,20.34,27.26,8.27,11.08,...,NaN,NaN,NaN,NaN,4.70,12.93,2.50,6.88,NaN,NaN
4,Barcelona,AQ Llevant,68.75,3,2,0,19.30,25.86,8.95,11.99,...,7.35,9.85,NaN,NaN,2.80,7.70,3.20,8.80,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,Valladolid,Resid. Castilla,78.35,3,1,0,19.60,26.26,9.70,13.00,...,9.55,12.80,NaN,NaN,7.25,19.94,3.50,9.63,1.4,3.30
250,Valladolid,Resid. Castilla,100.05,4,2,0,23.60,31.62,12.05,16.15,...,10.30,13.80,9.95,13.33,7.30,20.08,NaN,NaN,NaN,NaN
251,Zaragoza,Adarve,87.80,3,2,1,21.70,29.08,10.95,14.67,...,10.25,13.74,NaN,NaN,5.40,14.85,3.90,10.73,NaN,NaN
252,Zaragoza,Adarve,86.20,3,2,1,21.70,29.08,10.95,14.67,...,10.25,13.74,NaN,NaN,5.40,14.85,3.90,10.73,NaN,NaN
253,Zaragoza,Adarve,89.80,3,2,1,21.50,28.81,10.35,13.87,...,10.00,13.40,NaN,NaN,6.40,17.60,6.85,18.84,NaN,NaN

In [2]:
# Este dataset contiene 54 columnas y aparenta ser mas nuevo que el anterior.
pd.read_csv("./data/new_inmueblex_data.csv")

,zone,promoter,total_m2,n_rooms,n_bathrooms,n_toilets,avg_area_per_room,avg_perimeter_per_room,avg_area_per_bedroom,avg_perimeter_per_bedroom,...,bdroom3_m2,bdroom3_p,bdroom4_m2,bdroom4_p,entrance_m2,entrance_p,corridor_m2,corridor_p,laundry_m2,laundry_p
0,Alicante,Thalassa - Metrovacesa,101.80,4,2,0,16.966667,19.503333,9.750000,13.065000,...,9.40,12.60,6.90,9.25,4.20,11.55,13.30,36.58,2.3,5.43
1,Aviles,Aralis II - Arqura Homes,69.15,2,2,0,17.287500,22.827500,13.580000,18.200000,...,0.00,0.00,0.00,0.00,2.97,8.17,4.37,12.02,0.0,0.00
2,Aviles,Aralis II - Arqura Homes,110.63,4,2,1,15.804286,19.257143,10.845000,14.532500,...,10.04,13.45,8.01,10.73,8.86,24.37,10.29,28.30,0.0,0.00
3,Barcelona,Themos Riera - Culmia,61.79,2,2,0,15.447500,20.002500,9.630000,12.905000,...,0.00,0.00,0.00,0.00,4.70,12.93,2.50,6.88,0.0,0.00
4,Barcelona,AQ Llevant,68.75,3,2,0,13.750000,18.284000,9.100000,12.193333,...,7.35,9.85,0.00,0.00,2.80,7.70,3.20,8.80,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,Valladolid,Resid. Castilla,78.35,3,1,0,19.587500,23.212500,10.950000,14.676667,...,9.55,12.80,0.00,0.00,7.25,19.94,3.50,9.63,1.4,3.30
250,Valladolid,Resid. Castilla,100.05,4,2,0,16.675000,22.243333,12.025000,16.112500,...,10.30,13.80,9.95,13.33,7.30,20.08,0.00,0.00,0.0,0.00
251,Zaragoza,Adarve,87.80,3,2,1,14.633333,19.055000,12.300000,16.486667,...,10.25,13.74,0.00,0.00,5.40,14.85,3.90,10.73,0.0,0.00
252,Zaragoza,Adarve,86.20,3,2,1,14.366667,18.773333,11.616667,15.570000,...,10.25,13.74,0.00,0.00,5.40,14.85,3.90,10.73,0.0,0.00
253,Zaragoza,Adarve,89.80,3,2,1,14.966667,18.770000,11.616667,15.566667,...,10.00,13.40,0.00,0.00,6.40,17.60,6.85,18.84,0.0,0.00

In [3]:
# Este dataset contiene valores "X" en algunas columnas para las cuales el anterior dataset si tiene información.
pd.read_csv("./data/ordered_inmueblex_data.csv")

,zone,promoter,total_m2,n_rooms,n_bathrooms,n_toilets,avg_area_per_room,avg_perimeter_per_room,avg_area_per_bedroom,avg_perimeter_per_bedroom,...,bdroom3_m2,bdroom3_p,bdroom4_m2,bdroom4_p,entrance_m2,entrance_p,corridor_m2,corridor_p,laundry_m2,laundry_p
0,Alicante,Thalassa - Metrovacesa,101.80,4,2,0,X,X,X,X,...,9.40,12.60,6.90,9.25,4.20,11.55,13.30,36.58,2.3,5.43
1,Aviles,Aralis II - Arqura Homes,69.15,2,2,0,X,X,X,X,...,0.00,0.00,0.00,0.00,2.97,8.17,4.37,12.02,0.0,0.00
2,Aviles,Aralis II - Arqura Homes,110.63,4,2,1,X,X,X,X,...,10.04,13.45,8.01,10.73,8.86,24.37,10.29,28.30,0.0,0.00
3,Barcelona,Themos Riera - Culmia,61.79,2,2,0,X,X,X,X,...,0.00,0.00,0.00,0.00,4.70,12.93,2.50,6.88,0.0,0.00
4,Barcelona,AQ Llevant,68.75,3,2,0,X,X,X,X,...,7.35,9.85,0.00,0.00,2.80,7.70,3.20,8.80,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,Valladolid,Resid. Castilla,78.35,3,1,0,X,X,X,X,...,9.55,12.80,0.00,0.00,7.25,19.94,3.50,9.63,1.4,3.30
250,Valladolid,Resid. Castilla,100.05,4,2,0,X,X,X,X,...,10.30,13.80,9.95,13.33,7.30,20.08,0.00,0.00,0.0,0.00
251,Zaragoza,Adarve,87.80,3,2,1,X,X,X,X,...,10.25,13.74,0.00,0.00,5.40,14.85,3.90,10.73,0.0,0.00
252,Zaragoza,Adarve,86.20,3,2,1,X,X,X,X,...,10.25,13.74,0.00,0.00,5.40,14.85,3.90,10.73,0.0,0.00
253,Zaragoza,Adarve,89.80,3,2,1,X,X,X,X,...,10.00,13.40,0.00,0.00,6.40,17.60,6.85,18.84,0.0,0.00

#### Se procede a utilizar el segundo datasetn (./data/new_inmueblex_data.csv) ya que es el que contiene mas información de los 3.

## Limpieza y estructuración de dataset
Con base en la información proporcionado por el cliente por llamada. Se procede a dejar solo aquellas columnas que nos interesan para el análisis.

In [5]:
raw_data = pd.read_csv("./data/new_inmueblex_data.csv")

In [7]:
# Veamos las columnas del dataset
raw_data.columns

Index(['zone', 'promoter', 'total_m2', 'n_rooms', 'n_bathrooms', 'n_toilets',
       'avg_area_per_room', 'avg_perimeter_per_room', 'avg_area_per_bedroom',
       'avg_perimeter_per_bedroom', 'avg_area_per_bathroom',
       'avg_perimeter_per_bathroom', 'avg_area_per_toilet',
       'avg_perimeter_per_toilet', 'area_to_perimeter_ratio',
       'bathroom_area_to_total_area_ratio', 'bedroom_area_to_total_area_ratio',
       'toilet_area_to_total_area_ratio', 'kitchen_area_to_total_area_ratio',
       'livingroom_area_to_total_area_ratio',
       'corridor_area_to_total_area_ratio', 'bathrooms_to_rooms_ratio',
       'toilets_to_rooms_ratio', 'bedrooms_to_rooms_ratio',
       'livingroom_perimeter_to_total_perimeter_ratio',
       'kitchen_perimeter_to_total_perimeter_ratio',
       'bedroom_perimeter_to_total_perimeter_ratio',
       'bathroom_perimeter_to_total_perimeter_ratio', 'livingroom_m2',
       'livingroom_p', 'kitchen_m2', 'kitchen_p', 'bathroom1_m2',
       'bathroom1_p', 'bathroom2_m2', 'bathroom2_p', 'bathroom3_m2',
       'bathroom3_p', 'toilet_m2', 'toilet_p', 'bdroom1_m2', 'bdroom1_p',
       'bdroom2_m2', 'bdroom2_p', 'bdroom3_m2', 'bdroom3_p', 'bdroom4_m2',
       'bdroom4_p', 'entrance_m2', 'entrance_p', 'corridor_m2', 'corridor_p',
       'laundry_m2', 'laundry_p'],
      dtype='object')

#### Se procede a utilizar las columnas que nos interesan.
De acuerdo con las conversaciones con el cliente, las columnas que nos interesan estan agrupadas asi:
Variables X (Variables que se tendrán al momento de hacer predicciones):
- El total de del área utilizable de la casa en metros cuadrados (m2).
- Número de habitaciones (Dormitorios)
- Número de Baños
- Número de aseos (Aquellos baños sin ducha)
- Si se tiene recibidor o no (Booleano)
- Si se tiene lavadero o no (Booleano)  

Las variables Y son las siguientes:
- Tamaño del área utilizable de las habitaciones en metros cuadrados (m2)
- Tamaño del área utilizable de la cocina en metros cuadrados (m2)
- Tamaño del área utilizable del salón-comedor en metros cuadrados (m2)
- Tamaño del área utilizable de los baños en metros cuadrados (m2)

In [16]:
# Se dejan las columnas que nos interesan para el modelo. Nos interesan las de área, los perímetros no nos interesan de momento.
raw_data_areas = raw_data.loc[:,["total_m2","n_rooms","n_bathrooms","n_toilets","livingroom_m2","kitchen_m2","bathroom1_m2","bathroom2_m2","bathroom3_m2","toilet_m2","bdroom1_m2","bdroom2_m2","bdroom3_m2","bdroom4_m2","entrance_m2","corridor_m2","laundry_m2"]]
raw_data_areas

,total_m2,n_rooms,n_bathrooms,n_toilets,livingroom_m2,kitchen_m2,bathroom1_m2,bathroom2_m2,bathroom3_m2,toilet_m2,bdroom1_m2,bdroom2_m2,bdroom3_m2,bdroom4_m2,entrance_m2,corridor_m2,laundry_m2
0,101.80,4,2,0,21.10,14.90,3.50,3.50,0.0,0.00,13.10,9.60,9.40,6.90,4.20,13.30,2.3
1,69.15,2,2,0,17.27,9.06,4.31,4.01,0.0,0.00,16.34,10.82,0.00,0.00,2.97,4.37,0.0
2,110.63,4,2,1,23.11,13.02,5.27,4.30,0.0,2.40,12.96,12.37,10.04,8.01,8.86,10.29,0.0
3,61.79,2,2,0,20.34,8.27,3.60,3.12,0.0,0.00,10.33,8.93,0.00,0.00,4.70,2.50,0.0
4,68.75,3,2,0,19.30,8.95,3.65,3.55,0.0,0.00,12.45,7.50,7.35,0.00,2.80,3.20,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,78.35,3,1,0,19.60,9.70,4.05,0.00,0.0,0.00,13.55,9.75,9.55,0.00,7.25,3.50,1.4
250,100.05,4,2,0,23.60,12.05,4.85,4.15,0.0,0.00,15.60,12.25,10.30,9.95,7.30,0.00,0.0
251,87.80,3,2,1,21.70,10.95,3.80,3.70,0.0,1.45,15.90,10.75,10.25,0.00,5.40,3.90,0.0
252,86.20,3,2,1,21.70,10.95,4.25,3.70,0.0,1.45,13.85,10.75,10.25,0.00,5.40,3.90,0.0
253,89.80,3,2,1,21.50,10.35,4.80,3.65,0.0,1.40,14.80,10.05,10.00,0.00,6.40,6.85,0.0

In [28]:
raw_data_areas.describe()

,total_m2,n_rooms,n_bathrooms,n_toilets,livingroom_m2,kitchen_m2,bathroom1_m2,bathroom2_m2,bathroom3_m2,toilet_m2,bdroom1_m2,bdroom2_m2,bdroom3_m2,bdroom4_m2,entrance_m2,corridor_m2,laundry_m2,total_area
count,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000
mean,77.712874,2.917323,1.618110,0.082677,21.557165,9.069803,4.241299,2.118228,0.075000,0.194134,13.416299,9.658031,6.535787,1.962008,3.996181,4.344843,0.544094,77.712874
std,16.867400,0.752502,0.533305,0.275937,4.360384,2.003246,0.671933,1.820331,0.488939,0.662908,2.210184,1.877976,4.280373,3.704049,2.288670,2.387881,1.217399,16.867400
min,43.100000,1.000000,1.000000,0.000000,15.500000,6.100000,2.860000,0.000000,0.000000,0.000000,10.070000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,43.100000
25%,67.577500,2.000000,1.000000,0.000000,18.357500,7.490000,3.782500,0.000000,0.000000,0.000000,12.042500,8.802500,0.000000,0.000000,2.510000,2.780000,0.000000,67.577500
50%,72.735000,3.000000,2.000000,0.000000,20.175000,8.575000,4.100000,2.890000,0.000000,0.000000,13.025000,9.770000,8.435000,0.000000,3.725000,4.030000,0.000000,72.735000
75%,86.437500,3.000000,2.000000,0.000000,23.805000,10.087500,4.580000,3.800000,0.000000,0.000000,14.437500,10.737500,9.600000,0.000000,5.200000,5.707500,0.000000,86.437500
max,135.250000,4.000000,3.000000,1.000000,44.170000,18.880000,7.270000,5.600000,3.780000,3.020000,26.390000,13.000000,12.950000,12.550000,12.400000,14.400000,9.200000,135.250000

In [29]:
raw_data_areas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   total_m2       254 non-null    float64
 1   n_rooms        254 non-null    int64
 2   n_bathrooms    254 non-null    int64
 3   n_toilets      254 non-null    int64
 4   livingroom_m2  254 non-null    float64
 5   kitchen_m2     254 non-null    float64
 6   bathroom1_m2   254 non-null    float64
 7   bathroom2_m2   254 non-null    float64
 8   bathroom3_m2   254 non-null    float64
 9   toilet_m2      254 non-null    float64
 10  bdroom1_m2     254 non-null    float64
 11  bdroom2_m2     254 non-null    float64
 12  bdroom3_m2     254 non-null    float64
 13  bdroom4_m2     254 non-null    float64
 14  entrance_m2    254 non-null    float64
 15  corridor_m2    254 non-null    float64
 16  laundry_m2     254 non-null    float64
 17  total_area     254 non-null    float64
 18  same_size      254 non-null    bool
dtypes: bool(1), float64(15), int64(3)
memory usage: 36.1 KB

In [17]:
# Cómo primer paso, vamos a validar que la sumatoria de las áreas de igual al total. Se procede a crear una columna adicional de total.
raw_data_areas.loc[:,"total_area"] = raw_data_areas.iloc[:,4:].sum(axis=1)
raw_data_areas

,total_m2,n_rooms,n_bathrooms,n_toilets,livingroom_m2,kitchen_m2,bathroom1_m2,bathroom2_m2,bathroom3_m2,toilet_m2,bdroom1_m2,bdroom2_m2,bdroom3_m2,bdroom4_m2,entrance_m2,corridor_m2,laundry_m2,total_area
0,101.80,4,2,0,21.10,14.90,3.50,3.50,0.0,0.00,13.10,9.60,9.40,6.90,4.20,13.30,2.3,101.80
1,69.15,2,2,0,17.27,9.06,4.31,4.01,0.0,0.00,16.34,10.82,0.00,0.00,2.97,4.37,0.0,69.15
2,110.63,4,2,1,23.11,13.02,5.27,4.30,0.0,2.40,12.96,12.37,10.04,8.01,8.86,10.29,0.0,110.63
3,61.79,2,2,0,20.34,8.27,3.60,3.12,0.0,0.00,10.33,8.93,0.00,0.00,4.70,2.50,0.0,61.79
4,68.75,3,2,0,19.30,8.95,3.65,3.55,0.0,0.00,12.45,7.50,7.35,0.00,2.80,3.20,0.0,68.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,78.35,3,1,0,19.60,9.70,4.05,0.00,0.0,0.00,13.55,9.75,9.55,0.00,7.25,3.50,1.4,78.35
250,100.05,4,2,0,23.60,12.05,4.85,4.15,0.0,0.00,15.60,12.25,10.30,9.95,7.30,0.00,0.0,100.05
251,87.80,3,2,1,21.70,10.95,3.80,3.70,0.0,1.45,15.90,10.75,10.25,0.00,5.40,3.90,0.0,87.80
252,86.20,3,2,1,21.70,10.95,4.25,3.70,0.0,1.45,13.85,10.75,10.25,0.00,5.40,3.90,0.0,86.20
253,89.80,3,2,1,21.50,10.35,4.80,3.65,0.0,1.40,14.80,10.05,10.00,0.00,6.40,6.85,0.0,89.80

In [18]:
# Validamos que el valor calculado sea igual que el valor proporcionado.
raw_data_areas.loc[:,"same_size"] = raw_data_areas.loc[:,"total_m2"].round() == raw_data_areas.loc[:,"total_area"].round()

In [21]:
raw_data_areas

,total_m2,n_rooms,n_bathrooms,n_toilets,livingroom_m2,kitchen_m2,bathroom1_m2,bathroom2_m2,bathroom3_m2,toilet_m2,bdroom1_m2,bdroom2_m2,bdroom3_m2,bdroom4_m2,entrance_m2,corridor_m2,laundry_m2,total_area,same_size
0,101.80,4,2,0,21.10,14.90,3.50,3.50,0.0,0.00,13.10,9.60,9.40,6.90,4.20,13.30,2.3,101.80,False
1,69.15,2,2,0,17.27,9.06,4.31,4.01,0.0,0.00,16.34,10.82,0.00,0.00,2.97,4.37,0.0,69.15,True
2,110.63,4,2,1,23.11,13.02,5.27,4.30,0.0,2.40,12.96,12.37,10.04,8.01,8.86,10.29,0.0,110.63,True
3,61.79,2,2,0,20.34,8.27,3.60,3.12,0.0,0.00,10.33,8.93,0.00,0.00,4.70,2.50,0.0,61.79,True
4,68.75,3,2,0,19.30,8.95,3.65,3.55,0.0,0.00,12.45,7.50,7.35,0.00,2.80,3.20,0.0,68.75,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,78.35,3,1,0,19.60,9.70,4.05,0.00,0.0,0.00,13.55,9.75,9.55,0.00,7.25,3.50,1.4,78.35,False
250,100.05,4,2,0,23.60,12.05,4.85,4.15,0.0,0.00,15.60,12.25,10.30,9.95,7.30,0.00,0.0,100.05,True
251,87.80,3,2,1,21.70,10.95,3.80,3.70,0.0,1.45,15.90,10.75,10.25,0.00,5.40,3.90,0.0,87.80,False
252,86.20,3,2,1,21.70,10.95,4.25,3.70,0.0,1.45,13.85,10.75,10.25,0.00,5.40,3.90,0.0,86.20,False
253,89.80,3,2,1,21.50,10.35,4.80,3.65,0.0,1.40,14.80,10.05,10.00,0.00,6.40,6.85,0.0,89.80,True

In [27]:
raw_data_areas.iloc[0,0] - raw_data_areas.iloc[0,-2]

np.float64(-1.4210854715202004e-14)

In [26]:
raw_data_areas.iloc[1,-2]

np.float64(69.15)

In [25]:
raw_data_areas.loc[:,"total_area"]

0      101.80
1       69.15
2      110.63
3       61.79
4       68.75
        ...
249     78.35
250    100.05
251     87.80
252     86.20
253     89.80
Name: total_area, Length: 254, dtype: float64